.div1{
  background-color: lightblue;
  margin-right: 1500px;
  border: 10px  solid black;
  height: 190px;
  width: 190px;
}
.div2{
  background-color: yellow;
  margin-right: 1350px;
  margin-left: 200px;
  border: 20px solid black;
  height: 180px;
  width: 180px;

}
.div3{
  background-color: hotpink;
  margin-right: 1200px;
  margin-left: 410px;
  border: 10px solid black;
  height: 180px;
  width: 180px;

}
